# OS
.DS_Store

# IntelliJ
.idea/
*.iml

# Java / Spring
target/
*.class
*.war
build/
.gradle/

# Logs
*.log
logs/

# Docker / DB
postgres-data/
redis-data/

# Environment
application-secret.yml
application-local.yml
.env
.env.local
.env.development.local
.env.production.local
.env.*
